body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Krona One', sans-serif;
  /*font-weight: bold;*/
  color: white;
  background-color: #191a1d;
  font-size: 95%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.photo {
  margin-top: 50px;
  width: 350px;
}

/*.btn{
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10;
}*/

/*.my-photo {
  margin: 80%;
}
*/
/*
.name {

}
*/
/*body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}
*/

/*.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

*/