body{
	font-family:"Verdana", Sans-serif;
	font-style: italic;
	color: white;
	background-color: #191919;
	text-align: center;
	margin-top: 300px;
/*	display: center;

	margin-left: 500px;*/

	/*width: 80%;*/
}

#thankyou{
	font-style: italic;
	font-family:"Times New Roman", Serif;
	font-size: 80px;
}